{% load staticfiles %}


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Shuffle bootstrap 3 one page template</title>
	
    <!-- css -->
	<!--<link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}" />-->

    <link href="{% static 'polls/css/bootstrap.min.css' %}"  rel="stylesheet" type="text/css">
	<link href="{% static 'polls/font-awesome/css/font-awesome.min.css' %}"  rel="stylesheet" type="text/css">
	<link href="{% static 'polls/css/nivo-lightbox.css' %}"  rel="stylesheet" type="text/css">
	<link href="{% static 'polls/css/nivo-lightbox-theme/default/default.css' %}"  rel="stylesheet" type="text/css">
	<link href="{% static 'polls/css/owl.carousel.css' %}"  rel="stylesheet" type="text/css">
	<link href="{% static 'polls/css/owl.theme.css' %}"  rel="stylesheet" type="text/css">
	<link href="{% static 'polls/css/flexslider.css' %}"  rel="stylesheet" type="text/css">
	<link href="{% static 'polls/css/animate.css' %}"  rel="stylesheet" type="text/css">
	<link href="{% static 'polls/css/style.css' %}"  rel="stylesheet" type="text/css">
	<link href="{% static 'polls/color/default.css' %}"  rel="stylesheet" type="text/css">

</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-custom">
	
	<section id="intro" class="home-slide text-light">

		<!-- Carousel -->
    	<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
			<!-- Indicators -->
			<ol class="carousel-indicators">
			  	<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
			    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
			    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
			</ol>
			<!-- Wrapper for slides -->
			<div class="carousel-inner">
			    <div class="item active">
			    	<img src="{% static 'polls/img/1.jpg' %}" alt="First slide">
                    <!-- Static Header -->
                    <div class="header-text hidden-xs">
                        <div class="col-md-12 text-center">
                            <h2>
                            	<span>Welcome to Shuffle</span>
                            </h2>
                            <br>
                            <h3>
                            	<span>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span>
                            </h3>
                            <br>
                            <div class="">
                                 <a class="btn btn-theme btn-sm btn-min-block" href="#about">About us</a><a class="btn btn-theme btn-sm btn-min-block" href="#works">Our works</a></div>
                        </div>
                    </div><!-- /header-text -->
			    </div>
			    <div class="item">
			    	<img src="{% static 'polls/img/2.jpg' %}" alt="Second slide">
			    	<!-- Static Header -->
                    <div class="header-text hidden-xs">
                        <div class="col-md-12 text-center">
                            <h2>
                                <span>Awesome Bootstrap template</span>
                            </h2>
                            <br>
                            <h3>
                            	<span>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span>
                            </h3>
                            <br>
                            <div class="">
                                 <a class="btn btn-theme btn-sm btn-min-block" href="#about">About us</a><a class="btn btn-theme btn-sm btn-min-block" href="#works">Our works</a></div>
                        </div>
                    </div><!-- /header-text -->
			    </div>
			    <div class="item">
			    	<img src="{% static 'polls/img/3.jpg' %}" alt="Third slide">
			    	<!-- Static Header -->
                    <div class="header-text hidden-xs">
                        <div class="col-md-12 text-center">
                            <h2>
                                <span>Use without any charge</span>
                            </h2>
                            <br>
                            <h3>
                            	<span>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span>
                            </h3>
                            <br>
                            <div class="">
                                <a class="btn btn-theme btn-sm btn-min-block" href="#about">About us</a><a class="btn btn-theme btn-sm btn-min-block" href="#works">Our works</a></div>
                        </div>
                    </div><!-- /header-text -->
			    </div>
			</div>
			<!-- Controls -->
			<a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
		    	<span class="glyphicon glyphicon-chevron-left"></span>
			</a>
			<a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
		    	<span class="glyphicon glyphicon-chevron-right"></span>
			</a>
		</div><!-- /carousel -->

	</section>
	<!-- /Section: intro -->
	
	
    <!-- Navigation -->
    <div id="navigation">
        <nav class="navbar navbar-custom" role="navigation">
                              <div class="container">
                                    <div class="row">
                                          <div class="col-md-2">
                                                   <div class="site-logo">
                                                            <a href="index.html" class="brand">Shuffle</a>
                                                    </div>
                                          </div>
                                          

                                          <div class="col-md-10">
                         
                                                      <!-- Brand and toggle get grouped for better mobile display -->
                                          <div class="navbar-header">
                                                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#menu">
                                                <i class="fa fa-bars"></i>
                                                </button>
                                          </div>
                                                      <!-- Collect the nav links, forms, and other content for toggling -->
                                                      <div class="collapse navbar-collapse" id="menu">
                                                            <ul class="nav navbar-nav navbar-right">
                                                                  <li class="active"><a href="#intro">Home</a></li>
                                                                  <li><a href="#about">About Us</a></li>
																   <li><a href="#service">Services</a></li>
                                                                  <li><a href="#works">Works</a></li>				                                                                  
                                                                  
                                                                  <li><a href="#contact">Contact</a></li>
                                                            </ul>
                                                      </div>
                                                      <!-- /.Navbar-collapse -->
                             
                                          </div>
                                    </div>
                              </div>
                              <!-- /.container -->
                        </nav>
    </div> 
    <!-- /Navigation -->  

	<!-- Section: about -->
    <section id="about" class="home-section color-dark bg-white">
		<div class="container marginbot-50">
			<div class="row">
				<div class="col-lg-8 col-lg-offset-2">
					<div class="wow flipInY" data-wow-offset="0" data-wow-delay="0.4s">
					<div class="section-heading text-center">
					<h2 class="h-bold">About</h2>
					<div class="divider-header"></div>
					<p>Lorem ipsum dolor sit amet, agam perfecto sensibus usu at duo ut iriure.</p>
					</div>
					</div>
				</div>
			</div>

		</div>

		<div class="container">

		
        <div class="row">
		
			<div class="col-md-6">
			    <img src="{% static 'polls/img/dummy1.jpg' %}" alt="" class="img-responsive" />
      
           </div>
			
            <div class="col-md-6">		
			<p>Graeco voluptua sed ea, malorum quaeque cotidieque per eu, quo id possit dissentias.</p>			
			<div class="progress progress-striped active">
			  <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
				40% - eCommerce
			  </div>
			</div>
			<div class="progress progress-striped active">
			  <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 20%">
				20% - Ruby
			  </div>
			</div>
			<div class="progress progress-striped active">
			  <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
				60% - User interface
			  </div>
			</div>
			<div class="progress progress-striped active">
			  <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
				80% - WordPress
			  </div>
			</div>

            </div>
		

        </div>		
		</div>

	</section>
	<!-- /Section: about -->
	
	
	<!-- Section: services -->
    <section id="service" class="home-section color-dark bg-gray">
		<div class="container marginbot-50">
			<div class="row">
				<div class="col-lg-8 col-lg-offset-2">
					<div class="wow flipInY" data-wow-offset="0" data-wow-delay="0.4s">
					<div class="section-heading text-center">
					<h2 class="h-bold">Services</h2>
					<div class="divider-header"></div>
					<p>Lorem ipsum dolor sit amet, agam perfecto sensibus usu at duo ut iriure.</p>
					</div>
					</div>
				</div>
			</div>

		</div>

		<div class="text-center">
		<div class="container">

        <div class="row">
            <div class="col-xs-6 col-sm-3 col-md-3">
				<div class="wow fadeInLeft" data-wow-delay="0.2s">
                <div class="service-box">
					<div class="service-icon">
						<span class="fa fa-cogs fa-5x"></span> 
					</div>
					<div class="service-desc">						
						<h5>Web Design</h5>
						<p>
						Ad denique euripidis signiferumque vim, iusto admodum quo cu. No tritani neglegentur mediocritatem duo.
						</p>
						<a href="#" class="btn btn-skin">Learn more</a>
					</div>
                </div>
				</div>
            </div>
			<div class="col-xs-6 col-sm-3 col-md-3">
				<div class="wow fadeInUp" data-wow-delay="0.2s">
                <div class="service-box">
					<div class="service-icon">
						<span class="fa fa-camera fa-5x"></span> 
					</div>
					<div class="service-desc">
						<h5>Photography</h5>
						<p>
						Ad denique euripidis signiferumque vim, iusto admodum quo cu. No tritani neglegentur mediocritatem duo.
						</p>
						<a href="#" class="btn btn-skin">Learn more</a>
					</div>
                </div>
				</div>
            </div>
			<div class="col-xs-6 col-sm-3 col-md-3">
				<div class="wow fadeInUp" data-wow-delay="0.2s">
                <div class="service-box">
					<div class="service-icon">
						<span class="fa fa-laptop fa-5x"></span> 
					</div>
					<div class="service-desc">
						<h5>Graphic design</h5>
						<p>
						Ad denique euripidis signiferumque vim, iusto admodum quo cu. No tritani neglegentur mediocritatem duo.
						</p>
						<a href="#" class="btn btn-skin">Learn more</a>
					</div>
                </div>
				</div>
            </div>
			<div class="col-xs-6 col-sm-3 col-md-3">
				<div class="wow fadeInRight" data-wow-delay="0.2s">
                <div class="service-box">
					<div class="service-icon">
						<span class="fa fa-mobile-phone fa-5x"></span> 
					</div>
					<div class="service-desc">
						<h5>Mobile apps</h5>
						<p>
						Ad denique euripidis signiferumque vim, iusto admodum quo cu. No tritani neglegentur mediocritatem duo.
						</p>
						<a href="#" class="btn btn-skin">Learn more</a>
					</div>
                </div>
				</div>
            </div>
        </div>		
		</div>
		</div>
	</section>
	<!-- /Section: services -->
	

	<!-- Section: works -->
    <section id="works" class="home-section color-dark text-center bg-white">
		<div class="container marginbot-50">
			<div class="row">
				<div class="col-lg-8 col-lg-offset-2">
					<div class="wow flipInY" data-wow-offset="0" data-wow-delay="0.4s">
					<div class="section-heading text-center">
					<h2 class="h-bold">Portfolio</h2>
					<div class="divider-header"></div>
					<p>Lorem ipsum dolor sit amet, agam perfecto sensibus usu at duo ut iriure.</p>
					</div>
					</div>
				</div>
			</div>

		</div>

		<div class="container">
			<div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12" >
					<div class="wow bounceInUp" data-wow-delay="0.4s">
                    <div id="owl-works" class="owl-carousel">
                        <div class="item"><a href="{% static 'polls/img/works/1.jpg' %}" title="This is an image title" data-lightbox-gallery="gallery1" data-lightbox-hidpi="{% static 'polls/img/works/1@2x.jpg' %}"><img src="{% static 'polls/img/works/1.jpg' %}" class="img-responsive" alt="img"></a></div>
                        <div class="item"><a href="{% static 'polls/img/works/2.jpg' %}" title="This is an image title" data-lightbox-gallery="gallery1" data-lightbox-hidpi="{% static 'polls/img/works/2@2x.jpg' %}"><img src="{% static 'polls/img/works/2.jpg' %}" class="img-responsive " alt="img"></a></div>
                        <div class="item"><a href="{% static 'polls/img/works/3.jpg' %}" title="This is an image title" data-lightbox-gallery="gallery1" data-lightbox-hidpi="{% static 'polls/img/works/3@2x.jpg'' %}"><img src="{% static 'polls/img/works/3.jpg' %}" class="img-responsive " alt="img"></a></div>
                        <div class="item"><a href="{% static 'polls/img/works/4.jpg' %}" title="This is an image title" data-lightbox-gallery="gallery1" data-lightbox-hidpi="{% static 'polls/img/works/4@2x.jpg' %}"><img src="{% static 'polls/img/works/4.jpg' %}" class="img-responsive " alt="img"></a></div>
                        <div class="item"><a href="{% static 'polls/img/works/5.jpg' %}" title="This is an image title" data-lightbox-gallery="gallery1" data-lightbox-hidpi="{% static 'polls/img/works/5@2x.jpg' %}"><img src="{% static 'polls/img/works/5.jpg' %}" class="img-responsive " alt="img"></a></div>
                        <div class="item"><a href="{% static 'polls/img/works/6.jpg' %}" title="This is an image title" data-lightbox-gallery="gallery1" data-lightbox-hidpi="{% static 'polls/img/works/6@2x.jpg' %}"><img src="{% static 'polls/img/works/6.jpg' %}" class="img-responsive " alt="img"></a></div>
                        <div class="item"><a href="{% static 'polls/img/works/7.jpg' %}" title="This is an image title" data-lightbox-gallery="gallery1" data-lightbox-hidpi="{% static 'polls/img/works/7@2x.jpg' %}"><img src="{% static 'polls/img/works/7.jpg' %}" class="img-responsive " alt="img"></a></div>
                        <div class="item"><a href="{% static 'polls/img/works/8.jpg' %}" title="This is an image title" data-lightbox-gallery="gallery1" data-lightbox-hidpi="{% static 'polls/img/works/8@2x.jpg' %}"><img src="{% static 'polls/img/works/8.jpg' %}" class="img-responsive " alt="img"></a></div>
                    </div>
					</div>
                </div>
            </div>
		</div>

	</section>
	<!-- /Section: works -->

	<!-- Section: contact -->
    <section id="contact" class="home-section nopadd-bot color-dark bg-gray text-center">
		<div class="container marginbot-50">
			<div class="row">
				<div class="col-lg-8 col-lg-offset-2">
					<div class="wow flipInY" data-wow-offset="0" data-wow-delay="0.4s">
					<div class="section-heading text-center">
					<h2 class="h-bold">Contact us</h2>
					<div class="divider-header"></div>
					<p>Lorem ipsum dolor sit amet, agam perfecto sensibus usu at duo ut iriure.</p>
					</div>
					</div>
				</div>
			</div>

		</div>
		
		<div class="container">

			<div class="row marginbot-80">
				<div class="col-md-8 col-md-offset-2">
						<form id="contact-form" class="wow bounceInUp" data-wow-offset="10" data-wow-delay="0.2s">
						<div class="row marginbot-20">
							<div class="col-md-6 xs-marginbot-20">
								<input type="text" class="form-control input-lg" id="name" placeholder="Enter name" required="required" />
							</div>
							<div class="col-md-6">
								<input type="email" class="form-control input-lg" id="email" placeholder="Enter email" required="required" />
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								<div class="form-group">
										<input type="text" class="form-control input-lg" id="subject" placeholder="Subject" required="required" />
								</div>
								<div class="form-group">
									<textarea name="message" id="message" class="form-control" rows="4" cols="25" required="required"
										placeholder="Message"></textarea>
								</div>						
								<button type="submit" class="btn btn-skin btn-lg btn-block" id="btnContactUs">
									Send Message</button>
							</div>
						</div>
						</form>
				</div>
			</div>	


		</div>
	</section>
	<!-- /Section: contact -->


	<footer>
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-md-offset-3">
					
					<div class="text-center">
						<a href="#intro" class="totop"><i class="fa fa-angle-up fa-3x"></i></a>

						<p>Valera, Inc. 795 Folsom Ave, Suite 600 San Francisco, CA 94107<br />
						&copy;Copyright 2014 - Shuffle. Designed by <a href="http://bootstraptaste.com">Bootstraptaste</a></p>
					</div>
				</div>
			</div>	
		</div>
	</footer>

    <!-- Core JavaScript Files -->
	<script src="{% static 'polls/js/jquery.min.js' %}"></script>
	<script src="{% static 'polls/js/bootstrap.min.js' %}"></script>
	<script src="{% static 'polls/js/jquery.sticky.js' %}"></script>
	<script src="{% static 'polls/js/jquery.flexslider-min.js' %}"></script>
	<script src="{% static 'polls/js/jquery.easing.min.js' %}"></script>
	<script src="{% static 'polls/js/jquery.scrollTo.js' %}"></script>
	<script src="{% static 'polls/js/jquery.appear.js' %}"></script>
	<script src="{% static 'polls/js/stellar.js' %}"></script>
	<script src="{% static 'polls/js/wow.min.js' %}"></script>
	<script src="{% static 'polls/js/owl.carousel.min.js' %}"></script>
	<script src="{% static 'polls/js/nivo-lightbox.min.js' %}"></script>
	<script src="{% static 'polls/js/custom.js' %}"></script>
</body>

</html>
